/* 
#313638
#ef6461
#ebf5df
#191716 
*/

/* body {
  background-color: #191716;
  color: aliceblue;
} */

i {
  font-size: 1.5em;
}

.md-toolbar-tools {
  background-color: rgb(10, 41, 82);
  position: fixed;
}

.md-sidenav-right {
  position: fixed;
}

.lista-itens:hover {
  background-color: rgb(182, 179, 179);
  cursor: pointer;
}

.lista-itens-menu {
  margin: 1.5em;
}

.close-button-menu {
  align-self: flex-start;
}

.hero-image {
  height: 60%;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.group-search {
  margin: 10em;
  text-align: center;
}

.title {
  color: orange;
}
