<div class="drops-container" ng-show="vm.exibir">
  <div class="drops-box md-whiteframe-4dp">
    <md-list>
      <md-list-item class="md-2-line">
        <img ng-src="" class="md-avatar" alt="" />
        <div class="md-list-item-text">
          <h3>Nome</h3>
          <p>descricão</p>
        </div>
      </md-list-item>

      <md-list-item class="drops-list">
        <div class="md-list-item-text">
          <h3>Nome</h3>
          <span>barrapoercentagem</span>
          <span>numero de %</span>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>
