<div class="hero-image-inicial">
  <div class="hero-text inicial-text-hero">
    <h2 ng-bind="vm.title"></h2>
  </div>
</div>
<div class="categories-box">
  <h2 class="title-categoiries-box">Categorias</h2>
  <div class="card-selection">
    <div class="text-categories-box">
      <p>
        O jogo Warframe é tão extenso em número de itens usáveis que torna-se
        essencial sua abordagem e divisão em categorias. As principais
        categorias serão todas abordadas, porém para não ser exaustível cubrimos
        aqui somente algumas.
      </p>
    </div>
    <div class="card-categories md-whiteframe-2dp" ui-sref="categoria({ tipo: 'primary'})">
      <span>Primary Weapon</span>
      <p>
        Primary weapons are mainly separated into Rifles, Shotguns, Sniper
        Rifles and Bows, as these are the four categories that have unique mods
        to them, as well as Sortie missions limited to each type.
      </p>
    </div>
    <div class="card-categories md-whiteframe-2dp" ui-sref="categoria({ tipo: 'secondary'})">
      <span>Secondary Weapon</span>
      <p>
        Secondary weapons come in many forms, mostly pistols, though also
        throwing knives, shotguns and launchers. They all use the same mods and
        Pistol ammo, however.
      </p>
    </div>
    <div class="card-categories md-whiteframe-2dp" ui-sref="categoria({ tipo: 'melee'})">
      <span>Melee Weapon</span>
      <p>
        Melee weapons do not use ammo. They all use the same mods, though
        there's a variety of melee types, each with their unique Stances.
      </p>
    </div>
    <div class="card-categories md-whiteframe-2dp" ui-sref="categoria({ tipo: 'mods'})">
      <span>Mods</span>
      <p>
        Mods are essentially the upgrade system in WARFRAME in the form of
        special cards that can be equipped to Warframes, weapons, Companions,
        K-Drives and Archwings to enhance damage, power, survivability, speed,
        precepts, and utility.
      </p>
    </div>
    <div class="card-categories md-whiteframe-2dp" ui-sref="categoria({ tipo: 'warframes' })">
      <span>Warframes</span>
      <p>
        The true nature of the Warframes and their Tenno connection is a secret
        lost to the Old War. Together, they represent our best hope in turning
        the tide of the machine war.
      </p>
    </div>
  </div>
</div>
<div class="about-box">
  <h2 class="title-about">About</h2>
  <span class="subheader-about">Warframe game</span>
  <div class="about-box-text">
    <p>
      Warframe is a free-to-play action role playing third-person shooter
      multiplayer online game developed and published by Digital Extremes. In
      Warframe, players control members of the Tenno, a race of ancient warriors
      who have awoken from centuries of cryosleep far into Earth's future to
      find themselves at war in the planetary system with different factions.
      The Tenno use their powered Warframes along with a variety of weapons and
      abilities to complete missions. While many of the game's missions use
      procedurally-generated levels, newer updates have included large open
      world areas similar to other massively multiplayer online games as well as
      some story-specific missions with fixed level design. The game includes
      elements of shooting and melee games, parkour, and role-playing to allow
      players to advance their Tenno with improved gear. The game includes both
      player versus environment and player versus player elements. It is
      supported by microtransactions, which lets players purchase in-game items
      using real money, but also offers the option to earn them at no cost
      through grinding.
    </p>
  </div>
</div>

<div class="about-aplication-box">
  <span class="header-sobre">Sobre</span>
  <p>
    Waframe centro de informaçẽoes e estatistica é uma aplicação em
    desenvolvimento, com o intuito de reunir as principais informações sobre
    itens do jogo warframe e suas respecitivas taxas de ganhos dentro do jogo.
    Além das prinipais informações e taxas de ganho, outras funcionalidades
    podem serem inseridas. No presente momento todas as informações dos itens
    estão em inglês.
  </p>
</div>
