<div class="profile-banner md-whiteframe-2dp" layout="column">
  <div
    class="back-banner"
    layout="row"
    back-image-gradient="https://cdn.warframestat.us/img/{{ vm.item.imageName }}"
  >
    <div
      class="image-profile"
      back-image="https://cdn.warframestat.us/img/{{ vm.item.imageName }}"
    ></div>
    <div class="hero-text-profile">
      <h2 ng-bind="vm.item.name" class="md-display-4"></h2>
    </div>
  </div>
</div>

<status item="vm.item"></status>
<damage item="vm.item"></damage>
<abilities item="vm.item"></abilities>
<descricao item="vm.item"></descricao>
<noise-component noise="vm.item.noise"></noise-component>
