<div layout="row">
  <md-toolbar class="my-toolbar">
    <div class="md-toolbar-tools">
      <md-button>
        Home
      </md-button>

      <span flex></span>

      <md-button
        class="md-icon-button"
        ng-click="vm.openRightMenu()"
        aria-label="Menu"
      >
        <i class="fas fa-bars"></i>
      </md-button>
    </div>
  </md-toolbar>

  <md-sidenav md-component-id="right" class="md-sidenav-right">
    <md-list class="lista-itens-menu">
      <md-subheader>Caterogrias</md-subheader>
      <md-list-item class="lista-itens">
        Armas primária
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item class="lista-itens">
        Armas melee
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item class="lista-itens">
        Armas Secundárias
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item class="lista-itens">
        Mods
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-sidenav>
</div>
