<div class="status-card md-whiteframe-2dp" ng-show="vm.exibir">
  <ul class="list-status">
    <li class="item-list-status">
        <span>HELTH</span>
        <span ng-bind="vm.item.health"></span>
    </li>
    <li class="item-list-status">
        <span>ARMADURA</span>
        <span ng-bind="vm.item.armor"></span>
    </li>
    <li class="item-list-status">
        <span>SHIELD</span>
        <span ng-bind="vm.item.shield"></span>
    </li>
    <li class="item-list-status">
        <span>POWER</span>
        <span ng-bind="vm.item.power"></span>
    </li>
    <li class="item-list-status">
        <span>SPRINT</span>
        <span ng-bind="vm.item.sprint"></span>
    </li>
    <li class="item-list-status">
        <span>SPRINTSPEED</span>
        <span ng-bind="vm.item.sprintSpeed"></span>
    </li>
  </ul>
</div>
