<div class="status-card md-whiteframe-2dp" ng-show="vm.exibir">
    <div class="item-list-status">
        <span><i class="fas fa-file-medical"></i></span>
        <span>HELTH</span>
        <span ng-bind="vm.item.health"></span>
    </div>
    <div class="item-list-status">
        <span><i class="fas fa-shield-alt"></i></span>
        <span>ARMADURA</span>
        <span ng-bind="vm.item.armor"></span>
    </div>
    <div class="item-list-status">
        <span><i class="fas fa-atom"></i></span>
        <span>SHIELD</span>
        <span ng-bind="vm.item.shield"></span>
    </div>
    <div class="item-list-status">
        <span><i class="fas fa-arrow-alt-circle-up"></i></span>
        <span>POWER</span>
        <span ng-bind="vm.item.power"></span>
    </div>
    <div class="item-list-status">
        <span><i class="fas fa-running"></i></span>
        <span>SPRINT</span>
        <span ng-bind="vm.item.sprint"></span>
    </div>
    <div class="item-list-status">
        <span><i class="fas fa-tachometer-alt"></i></span>
        <span>SPRINTSPEED</span>
        <span ng-bind="vm.item.sprintSpeed"></span>
    </div>
</div>
