<div class="footer-box">
  <div class="left-box-footer">
    <h3>Waframe centro de informações e estatística</h3>
    <p>
      Reuni as principais informações sobre itens do jogo warframe e suas
      respecitivas taxas de ganhos dentro do jogo. Além das prinipais
      informações e taxas de ganho.
    </p>
  </div>
  <div class="center-box-footer">
      <h3>explore</h3>
      <ul>
          <li ui-sref="inicial"> <a href="">Home</a> </li>
          <li ui-sref="categoria({ tipo: 'primary'})"> <a href="">Primary</a> </li>
          <li ui-sref="categoria({ tipo: 'secondary'})"> <a href="">Secondary</a> </li>
          <li ui-sref="categoria({ tipo: 'melee'})"> <a href="">Melee</a> </li>
          <li ui-sref="categoria({ tipo: 'mods'})"> <a href="">Mods</a> </li>
          <li ui-sref="categoria({ tipo: 'warframes' })"> <a href="">Waframes</a> </li>
      </ul>
  </div>
  <div class="right-box-footer">
      <h3>Me siga</h3>
      <ul>
          <li> <a href="https://github.com/Nabucodono5or"><span><i class="fab fa-github"></i></span> GitHub</a> </li>
          <li> <a href="https://www.linkedin.com/in/jefferson-abreu-723818ba"><span><i class="fab fa-linkedin-in"></i></span> LinkedIn</a></li>
          <li> <a href="https://twitter.com/nabucodono5or"><span><i class="fab fa-twitter"></i></span> Twitter</a></li>
      </ul>
  </div>
</div>
