<div class="hero-image">
  <div class="hero-text">
    <h2 ng-bind="vm.title"></h2>
  </div>
</div>

<div class="div-layout-column" layout="column">
  <div class="group-search">
    <h3 class="title">Busca</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium,
      orci at lobortis venenatis, neque magna lobortis dui, in fermentum odio
      nunc vitae nisl. Morbi maximus id turpis eu facilisis.
    </p>
    <input type="text" />
  </div>

  <!-- <md-list class="lista-itens-categoria">
    <md-list-item class="md-2-line" ng-repeat="item in vm.itens">
      <img alt="" ng-src="" class="md-avatar" />
      <div class="md-list-item-text" layout="column">
        <h3></h3>
        <p></p>
      </div>
    </md-list-item>
  </md-list> -->
</div>
