<div class="hero-image">
  <div class="hero-text">
    <h2 ng-bind="vm.title"></h2>
  </div>
</div>

<div class="div-layout-column" layout="column">
  <div class="group-search">
    <h3 class="title">Busca</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium,
      orci at lobortis venenatis, neque magna lobortis dui, in fermentum odio
      nunc vitae nisl. Morbi maximus id turpis eu facilisis.
    </p>
    <input type="text" />
  </div>


  <!--
    Usando cards
  -->
  <!-- <md-button class="card-do-item" ng-repeat="item in vm.itens" ng-click="null" aria-label="{{ item.name }}">
    <md-card layout="row" md-truncate>
      <img
        alt="{{ item.name }}"
        ng-src="https://cdn.warframestat.us/img/{{ item.imageName }}"
        class="image-card-left"
      />
      <md-card-title layout="column"> 
        <span class="md-headline titulo-card" ng-bind="item.name"></span>
        <span class="md-subline titulo-subcard" ng-bind="item.category"></span>
      </md-card-title>
    </md-card>
  </md-button> -->

  <!--
    Usando listas
  -->
  <md-card>
    <md-list class="lista-itens-categoria" layout="column">
      <md-list-item class="md-2-line" ng-repeat="item in vm.itens" ng-click="null" aria-label="{{ item.name }}">
        <img
          alt="{{ item.name }}"
          ng-src="https://cdn.warframestat.us/img/{{ item.imageName }}"
          class="md-avatar"
        />
        <div class="md-list-item-text" layout="column">
          <h3 class="titulo-lista" ng-bind="item.name"></h3>
          <p class="subtitulo-lista" ng-bind="item.category"></p>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-card>
</div>
