<div layout="column">
  <div class="hero-image">
    <div class="hero-text">
      <h2 ng-bind="vm.title"></h2>
    </div>
  </div>

  <div class="group-search">
    <h3 class="title">Busca</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium,
      orci at lobortis venenatis, neque magna lobortis dui, in fermentum odio
      nunc vitae nisl. Morbi maximus id turpis eu facilisis.
    </p>
    <input type="text" />
  </div>

  <md-list> </md-list>

  <!--
      Teste de altura
  -->

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis
      ac augue ac hendrerit. Cras finibus orci arcu, tempor accumsan turpis
      fermentum sed. Integer pellentesque eros ut ipsum ultricies, et faucibus
      nisi euismod. Nam ipsum mauris, ultrices ut dapibus laoreet, bibendum a
      ex. Aenean tincidunt odio ut odio scelerisque faucibus. Sed ac turpis
      aliquet erat elementum dignissim nec sit amet augue. Mauris lacinia, quam
      nec rhoncus mollis, sem lectus tristique odio, in luctus nisi metus nec
      nulla. Vivamus ultrices nulla quis mi vulputate, at vehicula mauris
      condimentum. Sed ac massa odio. In convallis quis metus sit amet maximus.
      Integer aliquam imperdiet justo, eu luctus velit molestie quis. Ut
      interdum magna dui, consequat semper urna condimentum ac. Cras vitae neque
      ex. Vivamus quis ipsum consectetur, vestibulum augue nec, commodo nunc.
      Suspendisse vitae est sit amet erat scelerisque suscipit cursus id diam.
      Donec mattis erat ut diam lacinia, sit amet pulvinar justo tempor. Nam eu
      viverra urna. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos. Nullam ut posuere sem, quis pulvinar nisl.
      Duis auctor auctor diam, eu hendrerit orci sollicitudin ac. Fusce mattis
      nec purus sodales scelerisque. Pellentesque mollis laoreet elit aliquam
      vehicula. Fusce vitae augue at lacus condimentum vulputate. Aenean
      sagittis aliquam augue, nec rhoncus tellus eleifend vel. Ut ut urna a nibh
      porta egestas. Phasellus volutpat, massa vitae blandit eleifend, leo
      lectus sodales dui, id dictum ligula neque quis magna. Curabitur euismod
      dapibus magna, id tempor elit faucibus molestie. Curabitur tincidunt nunc
      non pharetra condimentum. Vivamus dapibus sagittis facilisis. Vivamus
      tincidunt nisi fringilla mauris egestas, blandit accumsan ante luctus.
      Cras sollicitudin pretium erat, a convallis odio maximus sed. Integer sed
      molestie urna. Pellentesque et dignissim odio. Proin malesuada scelerisque
      mi ac molestie. Donec lacinia quis leo ut efficitur. Duis ac mi sed tellus
      hendrerit fringilla eu vel felis. Vestibulum eu est nec orci porta
      fermentum. Nullam gravida luctus consequat. Suspendisse finibus odio
      mattis, elementum nunc eget, mattis elit. Orci varius natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Sed iaculis, dolor
      in sollicitudin bibendum, arcu ipsum volutpat metus, ac rhoncus elit mi
      vel turpis. Aenean in dolor in libero sollicitudin rutrum. Proin eu
      posuere ex, vel ullamcorper enim. Fusce mattis sem urna, ut ullamcorper
      metus finibus eu. Sed varius lacinia velit et iaculis. Phasellus quis
      sapien bibendum, auctor quam tincidunt, maximus elit. Curabitur sit amet
      lobortis velit. Vivamus at vulputate mi. Nunc laoreet ultrices congue.
      Duis ut sem rhoncus leo semper volutpat. Praesent et nunc imperdiet,
      rhoncus diam vel, aliquet nulla. Sed eu lacus ex. Praesent vitae justo
      scelerisque, blandit nisl ut, porta erat. Vivamus tincidunt convallis
      tincidunt. Proin semper ullamcorper libero a viverra. Praesent efficitur
      maximus ligula a cursus. Integer suscipit metus lacus, a semper massa
      varius eget. Phasellus sit amet venenatis ex.
    </p>
  </div>
</div>
